<!-- <p>fruitlist works {{howItWorks}}!</p>

<p>fruitlist works {{fruitlist[1].name}}!</p>

@for(item of fruitlist; track item.name) {
    <p>{{item.name}}</p>
}

@for(item of fruitlist; track item.name; let index = $index) {
    <p>{{index}}: {{item.name}}</p>
}

@for(item of fruitlist; track item.name; let last = $last) {
    <p>{{last}}: {{item.name}}</p>
}

@for(item of fruitlist; track item.name; let first = $first) {
    <p>{{first}}: {{item.name}}</p>
} -->

<div class="fruitlist_content">
    <!-- @for(item of fruitlist; track item.name){ -->
    @for(singlefruit of fruitlist; track singlefruit.name; let index = $index) {

        <app-singlefruit (click)=numLog(index) [fruit]="singlefruit"></app-singlefruit>
        <!-- <app-singlefruit (mouseover)=numLog(index) [fruit]="singlefruit"></app-singlefruit> -->
         <!-- <app-singlefruit (mouseenter)=numLog(index) [fruit]="singlefruit"></app-singlefruit> -->
    }
</div>